.getLi{
    color: white; 
    display: block;
}

.liBox{
   
    border: 2px solid white;
    margin-top: 150px;
   
}

.Box{
    margin-top: 200px;
    display: flexbox;
    flex-direction: row;

}

.CourseLi{
    color: white; 
    display: block;

}