.girlImg {
  position: absolute;
  z-index: -1;
  top: 50px;
  right: 3%;
}

.staffName {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  list-style-type: none;
  margin-top: 5%;
  padding-left: 5%;
  border-radius: 20px;
  margin-right: 100px;

  font-family: "Lora", serif;
  background-color: aliceblue;
  width: 300px;
  box-shadow: 5px 2px 2px rgba(0, 0, 0, 0.322), 0 2px 20px #00000059;
}
.container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 200px;
}

.form {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;

  top: 100px;
  right: 150px;
  border-radius: 50px;

  background-color: rgba(127, 255, 212, 0.356);
  width: 350px;
}
.staffForm {
  padding-top: 200px;
}
.staffList {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 5%;
  margin-left: 10%;

  padding-bottom: 5%;

  border-radius: 30px;
  width: 500px;
  background-color: rgba(127, 255, 212, 0.356);
}
.staffContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.input {
  font-family: "Lora", serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.inputClass {
  width: 200px;
  height: 30px;
  margin: 2%;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  box-shadow: 5px 2px 2px rgba(0, 0, 0, 0.322), 0 2px 20px #00000059;
}

.inputBtn {
  margin-bottom: 50px;
  margin: 2%;
  margin-bottom: 10%;
  color: #fdf7f7;
  background-color: rgb(19, 43, 43);
  height: 40px;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.322), 0 2px 20px #00000059;
}

.option {
  width: 200px;
}
.select {
  font-family: "Lora", serif;
  font-weight: bold;
  width: 210px;
  margin: 2%;
  height: 30px;
  border-radius: 5px;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.322), 0 2px 2px #00000059;
}

.h1Staff {
  color: aliceblue;
  font-family: "Lora", serif;
  font-size: 175%;
}
