body {
  margin: 0;
}
li {
  display: inline;
  list-style-type: none;
  margin: 2%;
  font-size: 175%;

  font-family: roboto;
}
ul {
  width: 100%;
  background-color: rgb(13, 97, 97);
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.link {
  color: #0ed4d4;
  text-decoration: none;
}

.headerBackgroundImg {
  background-image: url("../img/binary.jpg");

  height: 200px;
  margin-bottom: -20px;
}
