body {
  margin: 0;
}
li {
  display: inline;
  list-style-type: none;

  margin-left: 5%;
  font-size: 105%;

  font-family: "Lora", serif;
}
.headerList {
  width: 100%;
  background-color: rgb(13, 97, 97);
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 20px;
  position: relative;
  margin-bottom: 0px;
  box-shadow: 0 0 5px 0 rgb(5, 5, 5);
}

.link {
  color: #ffff;
  text-decoration: none;
}

.headerBackgroundImg {
  background-image: url("../img/binary.jpg");

  height: 200px;
  margin-bottom: -20px;
}

.logo {
  width: 450px;
  height: 300px;
  position: absolute;
  top: -130px;
  right: 10px;
}
