body {
  margin: 0;
}
li {
  display: inline;
  list-style-type: none;
  margin: 2%;
  font-size: 175%;

  font-family: meny-font;
}
ul {
  width: 100%;
  background-color: rgb(123, 173, 128, 1);
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.link {
  color: #532b05;
  text-decoration: none;
}
